<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--inicio de header-->
    <header>
        <img src="img/Logo/Logo-PNG.png"> 
        
        <p style="
        margin-left: 720px;
        ">Lugar para poner la barra de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>


    </header>

    <main>

    </main>

    <footer>
        
    </footer>
    
</body>
</html>