<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>

</head>
<body>
<!--inicio de header-->
    <header>
        <img src="img/Logo/Logo-PNG.png"> 
        
        <p>Lugar para poner la barra de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>

        <ul> 
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul>
            <li><a href="#">Registrarse</a></li>
            <li> <a href="#">Ingresar</a></li>
            <li><a href="#">Carrito</a></li>

        </ul>


    </header>

    <main>

        <!-- inicio de la primera section TSHIRTS -->

        <section>
            <h1 id="camisetaTittle">T-shirts</Style></h1>
        </section>

        <!-- inicio de la segunda section MEDIAS -->

        <section>
            <h1 id="socksTittle">Funky Socks</Style></h1>
        </section>

         <!-- inicio de la tercera section MALETAS -->

         <section>
            <h1 id="bagsTittle">Hacker Bags</Style></h1>
        </section>

        <!-- inicio de la cuarta section SUDADERAS -->

        <section>
            <h1 id="hoodiesTittle">Hidden Hoodies</Style></h1>
        </section>

        <!-- inicio de la quinta section GORRAS -->

        <section>
            <h1 id="hatsTittle">Smart Hats</Style></h1>
        </section>
        
        

    </main>

    <!--Inicio del Footer-->

    <footer>
        
    </footer>
    
</body>
</html>